<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Create an Account as a Pet Adopter</h5>
    <p class="card-text">Register an Account as a potential Pet Adopter.</p>
  </div>

  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input formControlName="email" type="email" class="form-control" id="email" aria-describedBy="email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password" aria-describedBy="password">
    </div>

    <button type="submit" class="mb-3 btn btn-primary btn-sm" [disabled]="!form.valid">Register</button>
  </form>
</div>