
:host {
  display: grid;
  gap: 1em;
  grid-template-columns: 400px auto;
}

.nav-outlet {
  background-color: #FFFFFF;
  border: 1px solid #DEE2E6;
  border-radius: 0 0 15px 15px;
  border-top: 0;
  padding: 0 1em 1em;
}

/* pending reviews */

.agencies {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding-top: 1em;
}

.agency {
  width: 200px;
}

.agency {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DEE2E6;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding: 1em;
}

.agency-picture {
  width: 150px;
}

.agency-actions {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* applications */

.applications {
  display: flex;
  flex-direction: column;
  gap: .5em;
  max-height: 75vh;
  overflow: auto;
  padding-top: 1em;
  width: 100%;
}

.application {
  display: grid;
  background-color: whitesmoke;
  border-radius: 10px;
  gap: 1em;
  grid-template-columns: 100px auto;
  padding: 1em 2em;
  width: 100%;
}

.application-animal,
.application-content {
  background-color: #FFFFFF;
  border: 1px solid #DEE2E6;
  border-radius: 5px;
  padding: 1em;
}

/* application content */

.application-content-element {
  font-size: .75em;
  margin-left: 1em;
}

.application-content-element-label {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: .5em;
}

.application-content-agency {
  margin-top: .5em;
}

/* application animal */

.application-animal {
  text-align: center;
}

.application-animal-image {
  border-radius: 50%;
  width: 64px;
}

.application-animal-name {
  margin-top: .5em;
  font-size: .75em;
}

/* no application found */

.no-application {
  align-items: center;
  display: flex;
  background-color: whitesmoke;
  border-radius: 10px;
  gap: 1em;
  justify-content: center;
  padding: 1em 1em 0;
  width: 100%;
}

/* reviews */

app-card-review,
app-card-application {
  display: block;
  padding-top: 1em;
  max-height: 75vh;
  overflow: auto;
}

.no-pending-reviews {
  padding: 1em 0 0;
}

.no-pending-reviews span {
  background-color: whitesmoke;
  border-radius: 10px;
  display: block;
  padding: 1em;
  text-align: center;
}
