.nav-outlet {
  background-color: #FFFFFF;
  border: 1px solid #DEE2E6;
  border-radius: 0 0 15px 15px;
  border-top: 0;
  padding: 1em;
}

.animal-tab {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.adoption-form,
.no-adoption-form {
  margin-top: 1em;
}